@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    background-image: url("https://cdn.dribbble.com/userupload/9935117/file/original-4dc140b981355f2cbfe65232c0d84bd7.jpg?resize=1600x1200");
    object-fit: cover;
    background-position: center;
}
.about{
    background-image: url("https://cdn.dribbble.com/users/41854/screenshots/2087176/media/91722f1ced86300c3bfe79ada0ea27ee.gif");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a.active{
    color: red;
}
.border-highlight {
    border: 2px solid rgb(0, 0, 0);
  }
a{
  transition: all 0.1s linear;
}