@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    background-image: url("https://cdn.dribbble.com/userupload/9935117/file/original-4dc140b981355f2cbfe65232c0d84bd7.jpg?resize=1600x1200");
    object-fit: cover;
    background-position: center;
}